@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    overflow-x: hidden !important;
}
body{
    overflow-x: hidden !important;
}
*::selection{
  background-color: #FF9900;
  color: #fff;
}
/* banner slick design */
.slick-dots{
 position: absolute;
 top: 50%;
 left: 8%;
 color: black;
 width: 20px;
 transform: translateY(-50%);
 -webkit-transform: translateY(-50%);
 -moz-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 -o-transform: translateY(-50%);
}

.slick-dots ul li{
 margin: 13px 0 !important;

}
@media (max-width:576px) {
   .slick-dots ul li{
 margin:  -2px 0 !important;
}
.slick-dots{
 left: 4%;
}
}
/* banner slick */

/* nav sroll functionality */
.nav-wrapper{
  transition: 1.5s;
  -webkit-transition: 1s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  position: relative !important;
}
.up{
  position: fixed !important;
   width: 100%;
  top: -200px;
  z-index: 999999999999;
}
.down{
 top: 0 !important;
  position: fixed !important;
   width: 100% !important;
  z-index: 999999999999 !important;
}
.nav-not-fixed{
  position: relative !important;
}
/* slick list padding */
.products-slick .slick-list{
  padding-bottom: 20px !important;
}

/* Scrollbar design */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF9900;
  border-radius: 10px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff99008c; 
}